<button id="selectPicDialog" class="u-button raised accent">选择图片</button>
<div id="picSelector_dialog_content" style="display:none;">
	<div class="u-msg-title">
		<h4>图片空间</h4>
	</div>
	<div class="u-msg-content">
		<div class="u-tabs u-tabs-pill ec-tabs">
		    <div class="u-tabs__tab-bar">
		        <a href="#tab-pills-panel-1" class="u-tabs__tab is-active">上传图片</a>
		        <a href="#tab-pills-panel-2" class="u-tabs__tab">选择图片</a>
		    </div>
		    <div class="u-tabs__panel is-active" id="tab-pills-panel-1">
		        <div class="ec-dialog-upload">
					<div class="ec-btn-box">
						<div class="ec-upload-sc-wrap">
							<a href="#" class="ec-upload-sc-pic"></a>
          					<a href="#" class="ec-upload-sc-txt">点击上传</a>
						</div>
					</div>
					<div class="ec-dialog-tip">
						<span class="ec-dialog-tip-title">提示:</span>
						<p class="ec-dialog-tip-cont">
						文件大小请在3M以内,移动端尺寸为宽度480-1242之间，高度小于等于 1546， 仅支持JPG、GIF、PNG格式；
						</p>
					</div>
				</div>
		    </div>
		    <div class="u-tabs__panel" id="tab-pills-panel-2">
		        <div class="u-text" style="width: 200px;">
				    <input class="u-input"/>
				    <label class="u-label">请输入要查找的商品分类</label>
				    <a href="#" class="ec-search_ico"></a>
				</div>
				
				<div class="ec-pics-showbox">
					<ul>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
						<li>
							<img src="../../components/common/showcase/images/pic.jpg" class="ec-pic-img">
							<p class="ec-pics-showbox-del">
								删除
							</p>
						</li>
					</ul>
					
				</div>
				
						
				
				
		    </div>
		</div>
	</div>
</div>
   