<div class="Y_goodsList">
      <ul class="gL">
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3" id="look">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
        <li>
          <div class="gL_item">
            <div class="p_img"><a href="#"><img src="../../components/common/showcase/images/pic.jpg" class="err_product" width="230" height="230"></a></div>
            <div class="p_price"><span>喜力</span><strong><em>￥</em><i>88.0</i></strong></div>
            <div class="p_summary"><a href="#">zespri奇异甜<em>果透心</em>凉晶凉晶晶凉晶晶晶亮啊。一百个果果约33个/g，喜欢的快来品尝啊</a></div>
            <div class="p_style">自建</div>
          </div>
          <div class="showOper"><s class="triangle-up"></s>
            <div class="SKU_code">SKU编码 : 12345678799</div>
            <div class="SKU_oper">
              <div class="SKU_oper_o"><span><a href="#" class="a1"></a></span><span><a href="#" class="a2"></a></span><span><a href="#" class="a3">SKU</a></span></div>
              <label  class="u-checkbox u-checkbox-white">
    <input type="checkbox" class="u-checkbox-input" checked>
    <span class="u-checkbox-label"></span>
</label>
            </div>
          </div>
        </li>
      </ul>
    </div>