<div class="ec-transfer">
	
	<div class="ec-transfer-section">
	    <div class="ec-transfer-section-title">
	    	待分配渠道节点
   		</div>
   		<div class="ec-transfer-section-content">
			<div class="u-text ec-text" id="ec-treeSearch-left" style="width: 200px;">
			    <input class="u-input"/>
			    <label class="u-label">输入名称或编码</label>
			    <a href="#" class="ec-search_ico"></a>
			</div>
		    <div class="ztree" u-meta='{"id":"tree1","data":"dataTable","type":"tree","idField":"id","pidField":"pid","nameField":"title","setting":"treeSetting"}'></div>
		</div>
	</div>
	
	<div class="ec-transfer-section ec-transfer-section-r">
	    <div class="ec-transfer-section-title">
	    	已分配渠道节点
   		</div>
   		<div class="ec-transfer-section-content">
			<div class="u-text ec-text" id="ec-treeSearch-right" style="width: 200px;">
			    <input class="u-input"/>
			    <label class="u-label">输入名称或编码</label>
			    <a href="#" class="ec-search_ico"></a>
			</div>
		    <div class="ztree" u-meta='{"id":"tree2","data":"dataTable2","type":"tree","idField":"id","pidField":"pid","nameField":"title","setting":"treeSetting"}'></div>
		</div>
	</div>
	<div class="ec-transfer-op">
		<button class="ec-transfer-op-oneR"></button>
		<button class="ec-transfer-op-allR"></button>
		<button class="ec-transfer-op-oneL"></button>
		<button class="ec-transfer-op-allL"></button>
	</div>
</div>

<script>
	u.on(window, 'load', function() {
		var viewModel = {
		    treeSetting:{
		        view:{
		            showLine:false,
		            selectedMulti:false,
		            showIcon: false
		        },
		        check:{
		        	enable: true,
		        	chkboxType : {"Y": "ps", "N": "ps"},
		        }
		    },
		    dataTable: new u.DataTable({
		        meta: {
		            'id': {
		                'value':""
		            },
		            'pid': {
		                'value':""
		            },
		            'title':{
		                'value':""
		            }
		        }
		    }),
		    dataTable2: new u.DataTable({
		        meta: {
		            'id': {
		                'value':""
		            },
		            'pid': {
		                'value':""
		            },
		            'title':{
		                'value':""
		            }
		        }
		    })
		};
		var app = u.createApp({
		    el: '.ec-transfer',
		    model: viewModel
		})
		var data = {
		  "pageIndex": 1,
		  "pageSize": 10,
		  "rows": [
		    {
		      "status": "nrm",
		      "data": {
		        "id": "01",
		        "pid": "root",
		        "title": "Parent1"
		      }
		    },
		    {
		      "status": "nrm",
		      "data": {
		        "id": "02",
		        "pid": "root",
		        "title": "Parent2"
		      }
		    },
		    {
		      "status": "nrm",
		      "data": {
		        "id": "101",
		        "pid": "01",
		        "title": "Child11"
		      }
		    },
		    {
		      "status": "nrm",
		      "data": {
		        "id": "102",
		        "pid": "01",
		        "title": "mChild12"
		      }
		    },
		    {
		      "status": "nrm",
		      "data": {
		        "id": "201",
		        "pid": "02",
		        "title": "Child21"
		      }
		    }
		  ]
		}
		viewModel.dataTable.setData(data);
		
		var textSearchLeft = document.querySelector('#ec-treeSearch-left')['ec.Text'],
			textSearchRight = document.querySelector('#ec-treeSearch-right')['ec.Text'],
			allRowsLeft = viewModel.dataTable.getAllRows(),
			allRowsRight = viewModel.dataTable.getAllRows();
		
		textSearchLeft.on('u.text.keyup', function() {
			var q = this._input.value.toLowerCase(),
				rs = allRowsLeft,
				rsl = [];
			for(var i=0;i < rs.length;i++) {
				var v = rs[i].getValue('title');
				if(v.toLowerCase().indexOf(q) >= 0) {
					rsl.push(rs[i]);
				}
			}
			viewModel.dataTable.removeAllRows();
			viewModel.dataTable.addRows(rsl);
			
		});
		textSearchRight.on('u.text.keyup', function() {
			var q = this._input.value.toLowerCase(),
				rs = allRowsRight,
				rsl = [];
			for(var i=0;i < rs.length;i++) {
				var v = rs[i].getValue('title');
				if(v.toLowerCase().indexOf(q) >= 0) {
					rsl.push(rs[i]);
				}
			}
			viewModel.dataTable2.removeAllRows();
			viewModel.dataTable2.addRows(rsl);
			
		});
		
		u.on(document.querySelector('.ec-transfer-op-oneR'), 'click', function() {
			var rs = viewModel.dataTable.getSelectedRows();
			viewModel.dataTable2.addRows(rs);
			viewModel.dataTable.removeRows(rs);
		});
		
		u.on(document.querySelector('.ec-transfer-op-allR'), 'click', function() {
			var rs = viewModel.dataTable.getAllRows();
			viewModel.dataTable2.addRows(rs);
			viewModel.dataTable.removeAllRows();
		});
		
		u.on(document.querySelector('.ec-transfer-op-oneL'), 'click', function() {
			var rs = viewModel.dataTable2.getSelectedRows();
			viewModel.dataTable.addRows(rs);
			viewModel.dataTable2.removeRows(rs);
		});
		
		u.on(document.querySelector('.ec-transfer-op-allL'), 'click', function() {
			var rs = viewModel.dataTable2.getAllRows();
			viewModel.dataTable.addRows(rs);
			viewModel.dataTable2.removeAllRows();
		});
	})
</script>