body{
    color:#fff;
}
.page-login:before {
    background-image: url("../img/login.png");
}
.logindefault.page-login{
    background-image: url("../img/login.png");
    padding-top: 30px;
}
.logindefault.page-login:before {
    background: none;
}
.page-dark.layout-full:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
}
.layout-full .page {
    height: 100%;
    padding: 0;
    margin: 0!important;
    background-color: transparent;
    text-align: center;
}
.vertical-align:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.vertical-align-middle {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    margin-bottom: 130px;
}
.u-input{
    border-color: #fff;
}
.page-dark.layout-full .brand-text {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.u-label{
    color:#fff;
}
.u-checkbox{
    width: auto;
}
.page-login a{
    color: #9fa8da;
    text-decoration: none;
    font-size: 12px;
    line-height: 26px;
}
.primary.u-button-block{
    margin-top:15px;
}
footer{
    font-size: 12px;
    position: absolute;
    margin-left: 30px;
}
.page-dark.layout-full .brand {
    margin-bottom: 22px;
}
.text {
    margin-bottom: 40px;
}

.page-login-main {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    color: #757575;
    background: #fff;
    text-align: left;
}

#pageleft .brand-text{
    color:#000;
    text-align: left;
}
#pageleft .u-input,#pagecenter .u-input{
    border-color: rgba(0,0,0,.12);
}
#pageleft .u-label,#pagecenter .u-label{
    color: rgba(0,0,0,.26);
}
#pageleft footer{
    margin-left: 20%;
}
#pageleft .brand{
    text-align: left;
}
#pageleft .brand span{
    font-size: 35px;
    color: #fff;
    vertical-align: middle;
    padding-left: 20px;
}
.font-size-20{
    font-size: 20px;
}
#pageleft .font-size-20 {
    color:#A39C9A;
}
#pageleft .layout-full .page{
    text-align: left;
}
#pageleft .page-brand-info{
    position: absolute;
    left: 0;
    top: 0;
    color: #757575;
    margin-top: 20%;
    margin-left: 4%;
}
#pageleft .vertical-align-middle {
    height: 100%;
    margin-bottom: 0;
}
#pageleft .main-body{
    padding: 85px 60px;
}
.page-login-main-new{
    margin: 20px 0;
    position: absolute;
    top: 0;
    right: 20px;
    color: #757575;
    background: #fff;
    text-align: left;

}
#pagecenter:before{
    background: #3949ab;
}
#pagecenter .vertical-align-middle{
    background: #fff;
    padding: 40px 75px;
    border-radius: 5px;
    margin-bottom: 90px;
}
#pagecenter .brand-text{
    color: #000;
}
#pagecenter .u-checkbox-label{
    color: #000;
}
#pagecenter .form-group.clearfix{
    text-align: left;
}
#pagecenter .forget{
    font-size: 13px;
    color:#000;
}
#pagecenter footer{
    margin-left: 43%;
}
.contentLeftText{
    padding-left: 5%;
    padding-top: 20%;

}
.mainBodyText{
    color: #757575;
    background: #fff;
    padding: 30px 40px 80px;
    margin-top: 20px;
}